$color-primary: var(--color-primary);
$color-primary-focus: var(--color-primary-focus);
$color-secondary: var(--color-secondary);
$color-page-background: var(--color-page-background);
$color-surface: var(--color-surface);
$color-border: var(--color-border);
$color-border-muted: var(--color-border-muted);
$color-border-control: var(--color-border-control);

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
